<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../View/assets/css/panelAdminStyle.css">

    <title>Document</title>
</head>

<body onload="viewTabCommettre()">

<div class="parent">

    <div class="div1">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand d-md-none d-xs-block py-3" href="#">
                    <img src="/static_files/images/logos/beer_white.png" height="40" alt="Company Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-2 active" href="index.php">Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link mx-2" href="graphique.php">Le graphique des jurons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="../View/balance.php">Top Balance</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link mx-2" href="tableau.html">Balancer quelqu'un</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="../Controller/executeProfil.php">Mon profil</a>
                        </li>
                        <li id="panelAdmin" style="display: none" class="nav-item">
                            <a class="nav-link mx-2" aria-current="page"  href="../View/panelAdmin.html">Panel admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="../Controller/executeLogout.php">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="div2">
        <table>
            <thead>
            <tr>
                <th>Infraction</th>
                <th>Login</th>
                <th>Balance</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="viewCommettre">
            </tbody>
        </table>
    </div>
    <div class="div3" id="div3">
    </div>
    <div class="div4"> </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/functions.js"></script>


</body>

</html>

