
.parent {
    display: flex;
        justify-content: space-around;
width: 250px;
height: 300PX;
background-color: rgb(152, 152, 152);

    }
    
    .containeurUn{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 3%;
        width: 50%;
        margin-left: 25%;
    }

